main#home {
  width: 100%;
  min-height: 100svh;

  gap: 3rem;
  display: grid;
  grid-template-areas: ". logo logo ." ". pg admin ." ". ui ui ." ". credits credits .";
  grid-template-columns: 1fr minmax(375px, 592px)  minmax(375px, 592px) 1fr;
  grid-template-rows: 35fr 40fr 25fr min-content;

  > figure#logo {
    height: 45%;
    min-height: 80px;
    grid-area: logo;
    position: relative;
    place-self: center;

    svg {
      min-height: 100%;
    }

    @media only screen and (max-width: 800px) {
      margin: 4ex 0 1ex;
    }
  }

  @media only screen and (max-width: 800px) {
    grid-template-areas: ". logo ." ". pg ." ". admin ." ". ui ." ". credits .";
    grid-template-columns: 1ex 1fr 1ex;
    grid-template-rows: unset;
  }

  > a.section {
    --effect-width: 3px;
    --effect-opacity: .2;
    --border-width: var(--effect-width);

    padding: 2rex;
    width: calc(100% - var(--border-width));
    height: calc(100% - var(--border-width));
    box-sizing: border-box;

    gap: 2rex;
    display: grid;
    justify-items: center;

    font-weight: 200;
    font-size: 1.15rem;

    border-radius: 8px;
    position: relative;
    place-self: center;
    background: light-dark(rgb(var(--box-white)), rgb(var(--box-black)));

    &::before,
    &::after {
      content: "";
      inset: calc(var(--border-width) * -1);
      z-index: -1;
      opacity: calc(var(--effect-opacity) + .3);
      position: absolute;
      border-radius: calc(8px + var(--border-width));
      animation: spin 20s linear 0s infinite normal;
      transition: opacity .2s ease-in;

      background: conic-gradient(
        from var(--rotate),
        var(--effect-color-dk),
        var(--effect-color-lt),
        var(--effect-color-dk),
        var(--effect-color-lt),
        var(--effect-color-dk),
        var(--effect-color-lt),
        var(--effect-color-dk),
        var(--effect-color-lt),
        var(--effect-color-dk)
      );
    }

    &::after {
      z-index: -2;
      filter: blur(3rem);
      opacity: var(--effect-opacity);
    }

    &:hover::before,
    &:hover::after {
      --effect-opacity: .6;

      animation: spin 3s linear 0s infinite normal;
    }

    > h3 { grid-area: title; }
    > div { grid-area: content; }

    > figure {
      grid-area: image;
      position: relative;
      place-self: stretch;

      > img {
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: fill;
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }
  }

  > a.section#pg,
  > a.section#admin {
    grid-template-areas: "image title" "image content";
    grid-template-columns: minmax(100px, .4fr) .6fr;
    grid-template-rows: min-content 1fr;

    h3 {
      margin: 1ex 0 .5ex;
    }

    div {
      padding: 0 1ex;
      text-align: center;
    }

    @media only screen and (max-width: 1000px) {
      grid-template-areas: "title" "image" "content";
      grid-template-columns: unset;
      grid-template-rows: unset;

      figure {
        min-height: 150px;
      }
    }
  }

  > a.section#pg {
    --effect-color-lt: #00adcc;
    --effect-color-dk: #005969;

    grid-area: pg;

    img {
      width: 70%;
      margin-top: -1.5rem;
      height: calc(100% + 2rem);
    }
  }

  > a.section#admin {
    --effect-color-lt: #00cc8c;
    --effect-color-dk: #006949;

    grid-area: admin;

    img { width: 75%; }
  }

  > a.section#ui {
    --effect-color-lt: #4400cc;
    --effect-color-dk: #230069;

    grid-area: ui;

    grid-template-areas: "image title content";
    grid-template-columns: .4fr .2fr .4fr;

    place-items: center;

    div {
      padding: 0 4ex;
      text-align: center;
    }

    img {
      height: 90%;
    }

    @media only screen and (max-width: 800px) {
      grid-template-areas: "title" "image" "content";
      grid-template-columns: unset;
      grid-template-rows: unset;

      h3 {
        margin: 1ex 0 .5ex;
      }

      figure {
        min-height: 20vw;

        img {
          margin-top: -.5rem;
        }
      }

      div {
        padding: unset;
      }
    }
  }

  > div#soon {
    grid-area: 2 / 2 / 4 / 4;
    place-self: center;
  }

  > footer {
    padding: 1.5ex;
    grid-area: credits;
    place-self: center;
    font-size: 0.8rem;
  }
}
