:root {
  // Typography
  --body-font-family: Metropolis, "Helvetica Neue", Arial, sans-serif;
  --mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace;
  --root-font-size: 16px; // Base font-size for rems
  --body-line-height: 1.5;
  --heading-line-height: 1.75;

  // Font size
  --font-size-1: 0.7rem;
  --font-size-2: 0.8rem;  //h6
  --font-size-3: 1rem;    //h5
  --font-size-4: 1.5rem;  //h4
  --font-size-5: 2rem;    //h3
  --font-size-6: 2.5rem;  //h2
  --font-size-7: 3rem;    //h1

  // Colors
  --white: 255 255 255; // #ffffff
  --black: 0 0 0; // #000000

  --off-white: 240 240 240; // #f0f0f0
  --off-black: 1 1 1; // #010101

  --box-white: 235 235 235; // #eaeaea
  --box-black: 10 10 10; // #0a0a0a

  --primary: 189 20 22; // #bd1416
  --primary-lt: 220 20 22; // #dc1416
  --primary-xlt: 250 20 22; // #fa1416
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
